streamlit
face_recognition
opencv-python-headless
Pillow
pandas
numpy
gspread
oauth2client
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
plotly
seaborn
matplotlib
pyyaml
dlib-19.24.1-cp311-cp311-win_amd64
